src/main/obj/main.csproj.nuget.dgspec.json
src/main/obj/main.csproj.nuget.g.props
src/main/obj/main.csproj.nuget.g.targets
src/main/obj/project.assets.json
src/main/obj/project.nuget.cache
src/main/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
src/main/obj/Debug/net6.0/apphost
src/main/obj/Debug/net6.0/main.AssemblyInfo.cs
src/main/obj/Debug/net6.0/main.AssemblyInfoInputs.cache
src/main/obj/Debug/net6.0/main.assets.cache
src/main/obj/Debug/net6.0/main.csproj.AssemblyReference.cache
src/main/obj/Debug/net6.0/main.csproj.CopyComplete
src/main/obj/Debug/net6.0/main.csproj.CoreCompileInputs.cache
src/main/obj/Debug/net6.0/main.csproj.FileListAbsolute.txt
src/main/obj/Debug/net6.0/main.dll
src/main/obj/Debug/net6.0/main.GeneratedMSBuildEditorConfig.editorconfig
src/main/obj/Debug/net6.0/main.genruntimeconfig.cache
src/main/obj/Debug/net6.0/main.GlobalUsings.g.cs
src/main/obj/Debug/net6.0/main.pdb
src/main/obj/Debug/net6.0/ref/main.dll
src/main/obj/Debug/net6.0/refint/main.dll
.vs/WorkdayCalendar/xs/UserPrefs.xml
.vs/WorkdayCalendar/xs/project-cache/Calendar-Debug.json
.vs/WorkdayCalendar/xs/project-cache/main-Debug.json
.vs/WorkdayCalendar/xs/project-cache/UnitTests-Debug.json
src/Calendar/obj/Calendar.csproj.nuget.dgspec.json
src/Calendar/obj/Calendar.csproj.nuget.g.props
src/Calendar/obj/Calendar.csproj.nuget.g.targets
src/Calendar/obj/project.assets.json
src/Calendar/obj/project.nuget.cache
src/main/bin/Debug/net6.0/Calendar.dll
src/main/bin/Debug/net6.0/Calendar.pdb
src/main/bin/Debug/net6.0/main
src/main/bin/Debug/net6.0/main.deps.json
src/main/bin/Debug/net6.0/main.dll
src/main/bin/Debug/net6.0/main.pdb
src/main/bin/Debug/net6.0/main.runtimeconfig.json
.DS_Store
src/Calendar/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
src/Calendar/obj/Debug/net6.0/Calendar.AssemblyInfo.cs
src/Calendar/obj/Debug/net6.0/Calendar.AssemblyInfoInputs.cache
src/Calendar/obj/Debug/net6.0/Calendar.assets.cache
src/Calendar/obj/Debug/net6.0/Calendar.csproj.AssemblyReference.cache
src/Calendar/obj/Debug/net6.0/Calendar.csproj.CoreCompileInputs.cache
src/Calendar/obj/Debug/net6.0/Calendar.csproj.FileListAbsolute.txt
src/Calendar/obj/Debug/net6.0/Calendar.dll
src/Calendar/obj/Debug/net6.0/Calendar.GeneratedMSBuildEditorConfig.editorconfig
src/Calendar/obj/Debug/net6.0/Calendar.GlobalUsings.g.cs
src/Calendar/obj/Debug/net6.0/Calendar.pdb
src/Calendar/obj/Debug/net6.0/ref/Calendar.dll
src/Calendar/obj/Debug/net6.0/refint/Calendar.dll
src/Calendar/bin/Debug/net6.0/Calendar.deps.json
src/Calendar/bin/Debug/net6.0/Calendar.dll
src/Calendar/bin/Debug/net6.0/Calendar.pdb
test/UnitTests/bin/Debug/net6.0/Calendar.dll
test/UnitTests/bin/Debug/net6.0/Calendar.pdb
test/UnitTests/bin/Debug/net6.0/CoverletSourceRootsMapping
test/UnitTests/bin/Debug/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
test/UnitTests/bin/Debug/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
test/UnitTests/bin/Debug/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
test/UnitTests/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
test/UnitTests/bin/Debug/net6.0/Microsoft.TestPlatform.Utilities.dll
test/UnitTests/bin/Debug/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
test/UnitTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
test/UnitTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
test/UnitTests/bin/Debug/net6.0/Newtonsoft.Json.dll
test/UnitTests/bin/Debug/net6.0/NuGet.Frameworks.dll
test/UnitTests/bin/Debug/net6.0/nunit_random_seed.tmp
test/UnitTests/bin/Debug/net6.0/nunit.engine.api.dll
test/UnitTests/bin/Debug/net6.0/nunit.engine.core.dll
test/UnitTests/bin/Debug/net6.0/nunit.engine.dll
test/UnitTests/bin/Debug/net6.0/nunit.framework.dll
test/UnitTests/bin/Debug/net6.0/NUnit3.TestAdapter.dll
test/UnitTests/bin/Debug/net6.0/NUnit3.TestAdapter.pdb
test/UnitTests/bin/Debug/net6.0/testcentric.engine.metadata.dll
test/UnitTests/bin/Debug/net6.0/testhost.dll
test/UnitTests/bin/Debug/net6.0/UnitTests.deps.json
test/UnitTests/bin/Debug/net6.0/UnitTests.dll
test/UnitTests/bin/Debug/net6.0/UnitTests.pdb
test/UnitTests/bin/Debug/net6.0/UnitTests.runtimeconfig.json
test/UnitTests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/UnitTests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/UnitTests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/UnitTests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/UnitTests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/UnitTests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/UnitTests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/UnitTests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/UnitTests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/UnitTests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/UnitTests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/UnitTests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/UnitTests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/UnitTests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/UnitTests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/UnitTests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/UnitTests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/UnitTests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/UnitTests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/UnitTests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/UnitTests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/UnitTests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/UnitTests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/UnitTests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/UnitTests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/UnitTests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/UnitTests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/UnitTests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/UnitTests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/UnitTests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/UnitTests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/UnitTests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/UnitTests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/UnitTests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/UnitTests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/UnitTests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/UnitTests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/UnitTests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/UnitTests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/UnitTests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/UnitTests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/UnitTests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/UnitTests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/UnitTests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/UnitTests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/UnitTests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/UnitTests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/UnitTests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/UnitTests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/UnitTests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/UnitTests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/UnitTests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/UnitTests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/UnitTests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/UnitTests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/UnitTests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/UnitTests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/UnitTests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/UnitTests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/UnitTests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/UnitTests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/UnitTests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/UnitTests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/UnitTests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/UnitTests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/UnitTests/obj/Calendar.csproj.nuget.dgspec.json
test/UnitTests/obj/Calendar.csproj.nuget.g.props
test/UnitTests/obj/Calendar.csproj.nuget.g.targets
test/UnitTests/obj/project.assets.json
test/UnitTests/obj/project.nuget.cache
test/UnitTests/obj/UnitTests.csproj.nuget.dgspec.json
test/UnitTests/obj/UnitTests.csproj.nuget.g.props
test/UnitTests/obj/UnitTests.csproj.nuget.g.targets
test/UnitTests/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
test/UnitTests/obj/Debug/net6.0/UnitTests.AssemblyInfo.cs
test/UnitTests/obj/Debug/net6.0/UnitTests.AssemblyInfoInputs.cache
test/UnitTests/obj/Debug/net6.0/UnitTests.assets.cache
test/UnitTests/obj/Debug/net6.0/UnitTests.csproj.AssemblyReference.cache
test/UnitTests/obj/Debug/net6.0/UnitTests.csproj.CopyComplete
test/UnitTests/obj/Debug/net6.0/UnitTests.csproj.CoreCompileInputs.cache
test/UnitTests/obj/Debug/net6.0/UnitTests.csproj.FileListAbsolute.txt
test/UnitTests/obj/Debug/net6.0/UnitTests.dll
test/UnitTests/obj/Debug/net6.0/UnitTests.GeneratedMSBuildEditorConfig.editorconfig
test/UnitTests/obj/Debug/net6.0/UnitTests.genruntimeconfig.cache
test/UnitTests/obj/Debug/net6.0/UnitTests.GlobalUsings.g.cs
test/UnitTests/obj/Debug/net6.0/UnitTests.pdb
test/UnitTests/obj/Debug/net6.0/ref/UnitTests.dll
test/UnitTests/obj/Debug/net6.0/refint/UnitTests.dll
src/Calendar/bin
src/Calendar/obj
src/main/bin
src/main/obj
test/UnitTests/bin
test/UnitTests/obj